In [2]:
import pandas as pd

In [ ]:
df_raw_enery = pd.read_csv('../dataset/raw/consumo_energia_eletrica.csv', sep=',', encoding='latin1')
df_raw_regions = pd.read_csv('../dataset/raw/estado_regiao.csv', sep=';', encoding='latin1')

df_global = df_raw_enery.join(df_raw_regions.set_index('sigla'), on='sigla_uf')

df_global

In [14]:
# Count NaN values
df_global.isna().sum()

# Fill Nan values with mean
df_global['numero_consumidores'] = df_global['numero_consumidores'].fillna(df_global['numero_consumidores'].mean())

df_clean = df_global

In [15]:
df_clean

,ano,mes,sigla_uf,tipo_consumo,numero_consumidores,consumo,id_estado,estado,regiao,pais
0,2004,1,TO,Total,6.954567e+05,65876,27,Tocantins,Norte,Brasil
1,2004,1,BA,Total,6.954567e+05,1444451,5,Bahia,Nordeste,Brasil
2,2004,1,PR,Total,6.954567e+05,1596274,16,Paraná,Sul,Brasil
3,2004,1,RS,Total,6.954567e+05,1780912,21,Rio Grande do Sul,Sul,Brasil
4,2004,1,GO,Total,6.954567e+05,630624,9,Goiás,Centro-Oeste,Brasil
...,...,...,...,...,...,...,...,...,...,...
39892,2023,12,BA,Residencial,5.932740e+06,718461,5,Bahia,Nordeste,Brasil
39893,2023,12,PA,Residencial,2.614106e+06,478726,14,Pará,Norte,Brasil
39894,2023,12,AC,Residencial,2.456990e+05,58301,1,Acre,Norte,Brasil
39895,2023,12,RN,Residencial,1.390080e+06,210119,20,Rio Grande do Norte,Nordeste,Brasil
39896,2023,12,SC,Residencial,2.719791e+06,655389,24,Santa Catarina,Sul,Brasil